<div class="container m-2">
 <%= render @recipe %>
</div>

  <div class='m-4'>
  <%= form_with(
    model: RecipeFood.new,
    url: recipe_recipe_foods_path(@recipe),
    method: :post,
  ) do |form| %>

  <% if @recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% @recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='d-flex justify-content-between'>
<div>
 
  <div class="show_input">
    <%= form.submit  "Add ingredient", class: "btn btn-primary mb-4" %>
  </div>
   <div class="show_input mb-4">
   <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "quantity " %>
  </div>
 
  <div class="show_input">
    <%= form.label :food_id %>
    <%= form.collection_select(:food_id, Food.all, :id, :name, prompt: true) %>
  </div>
</div>    
 
<% end %>
  <div>
    <%= link_to "Generate shoping list", shopping_list_path, class:'btn btn-primary'%>
  </div>
  </div>
</div>
<hr class='border border-dark '>
<div class="container">
  <table class="table table-striped m-2">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @food_recipe.each do |recipe_food| %>
        <tr id="<%= dom_id recipe_food %>">
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %></td>
          <td><%= recipe_food.food.price * recipe_food.quantity %></td>
          <td>
          <%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

